section {
    width: 100%;
    align-items: center;   
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;

}

#inicio{
    flex-direction: column;
    
}

.eu {
    width: 27.2rem;
    height: 26rem;
}
.aoba {
    width: 100%;
   
    padding-bottom: 16rem;
    margin: 5rem 0rem 8rem;

}

#sobre_mim{
    width: 100%;
}
.habilidade {
    width: 100%;
    height: 100%;
    margin: 0;
}

.ficha{
    gap:0.5rem;
}

#definição{
    display: none;
}

#projetos {
    flex-direction: column;
    gap: 15rem;
    width: 100%;
}

#qr{
    display:none;
}

.menu_bar{
    width: 100%;
}
.slot{
    flex:0;
}
#hot_bar div:nth-child(5){
   display:none;
}
#hot_bar div:nth-child(6){
   display:none;
}
#hot_bar div:nth-child(7){
   display:none;
}
#hot_bar div:nth-child(8){
   display:none;
}
#hot_bar div:nth-child(9){
   display:none;
}