section {
    width: 100%;
    align-items: center;   
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;

}

#inicio{
    flex-direction: column;
    
}

.eu {
    width: 27.2rem;
    height: 26rem;
}
.aoba {
    width: 100%;
   
    padding-bottom: 16rem;
    margin: 0rem;

}

#sobre_mim{
    width: 100%;
    margin-top: 2rem;
    gap: 2.5rem;
}
.habilidade {
    width: 100%;
    height: 100%;
    margin: 0;
}

.ficha{
    gap:0.5rem;
}

#definicao{
    display: none;
}

#projetos {
    flex-direction: column;
    gap: 5rem;
    width: 100%;
}

#qr{
    display:none;
}

.menu_bar{
    width: 100%;
}
.slot{
    flex:0;
}
#hot_bar div:nth-child(5){
   display:none;
}
#hot_bar div:nth-child(6){
   display:none;
}
#hot_bar div:nth-child(7){
   display:none;
}
#hot_bar div:nth-child(8){
   display:none;
}
#hot_bar div:nth-child(9){
   display:none;
}

@media (min-width: 72rem) and (max-width:108rem) {
    body{
        background: darkred;
    }
}